header{
    background-color: #A4D0A4;
    width: 100%;
    height: 80px;
    display: flex; 
    justify-content: left;
    position: fixed;
}		

header img{
    padding-right: 5px;
	padding-top: 5px;
    width: 50px;
    display: inline-block;
}

header .atas{
    display: flex;
    height: fit-content;
    align-items: center;
    position: relative;

}

header .atas ul{
    padding-left:  650px;
}
header .atas li{
    display: inline-block;
}
header .atas li :hover{
    background-color: white;
    color:#A4D0A4 ;
}

header .atas ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px 15px;
    transition: 0.75s;
    
}

header .atas h4{
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
}

main{
	padding-top: 100px;
	padding-left: 25px;
	padding-right:25px ;
	padding-bottom: 25px;
}

main .judul{
    width: 100%;
    height: 50px;
    margin: auto;
    /* padding-top: 5px; */
    margin-bottom: 20px;
}

main .judul h1{
    color: #A4D0A4;
    font-size: 30pt;
    text-align: center;
    /* padding-top: 15%; */
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

table,
		td,
		th {
			border: 1px solid #ddd;
			text-align: left;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			font-size: 10px;
		}

		th,
		td {
			padding: 15px;
		}

		.button {
			background-color: #4CAF50;
			border: none;
			color: white;
			height: 30px;
			width: 70px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 5px;
		}

		.input {
			height: 20px;
		}

		.buttonDel {
			background-color: red;
			border: none;
			color: white;
			height: 30px;
			width: 70px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 5px;
		}
		.buttonup{
		  background-color: green;
		  border: none;
		  color: white;
		  height: 30px;
		  width : 70px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  cursor: pointer;
		  border-radius:5px;
		}

table th a{
    text-decoration: none;
    color: #A4D0A4;
}