footer {
    margin-top: 30px;
    width: 100%;
    height: 140px;
    background-color: #0C669C;
}

.containerFooter {
    width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 20px;
    color: white;
    font-family: 'Poppins'sans-serif;
    justify-content: flex-start;
    height: 100px;
}

footer .rekes {
    margin-right: 20%;
}

.containerFooter a {
    text-decoration: none;
    color: white;
}

footer h2,
footer p {
    color: white;
    font-family: 'Poppins'sans-serif;
}

footer .rekes h2 {
    font-size: 24px;
}

footer .rekes p {
    font-size: 16px;
}

footer .tentang {
    font-size: 16px;
    margin-right: 5%;
    margin-top: 1%;
}

footer .contact {
    font-size: 16px;
    margin-left: 100px;
    margin-top: 1%;
}

footer .tentang li,
footer .contact li {
    line-height: 1.5;
}

footer .faq {
    font-size: 16px;
    margin-left: 200px;
    margin-top: 1%;
}

footer .faq img {
    padding-top: 5px;
    width: 25px;
}

footer .faq li {
    line-height: 2;
}
