body{
    font-family: 'Roboto', sans-serif;
    z-index: 4;
}
header{
    z-index: 1;
    background-color: #0C669C;
    width: 100%;
    height: 80px;
    display: flex; 
    justify-content: left;
    position: fixed;
}

header a{
    text-decoration: none;
    /* display: flex; */
    flex-wrap: nowrap;
}
header img{
    padding-right: 5px;
    width: 50px;
    display: inline-block;

}

header .atas{
    display: flex;
    height: fit-content;
    align-items: center;
    position: relative;

}

header .atas h1 {
    color: aliceblue;
    font-size: 18pt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}

header .atas ul{
    padding-left: 520px;
}
header .atas li{
    display: inline-block;
}
header .atas li :hover{
    background-color: white;
    color:#0C669c ;
    

}

header .atas ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px 15px;
    transition: 0.75s;
    
}

header .atas h4{
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 50%;
}
