body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #0C669C;
    width: 100%;
    height: 70px;
    display: flex; 
    justify-content: center;
    position: fixed;
}

header a{
    text-decoration: none;
}
header img{
    padding-top: 5px;
    width: 55px;

}

header .atas{
    display: flex;
    height: fit-content;
    align-items: center;
}

header .atas h1 {
    color: aliceblue;
    font-size: 20pt;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

body .teks{
    padding-top: 100px;
}

main .moto{
    width: 100%;
    height: 550px;
    background-image: url(icon/background.jpg);
    background-size: cover;
    margin: auto;
    padding-top: 70px;
}

main .moto h2{
    color: #0C669C;
    font-size: 45pt;
    text-align: center;
    padding-top: 15%;
    font-family: 'Poppins', sans-serif;
}
main .moto h3{
    color: #0C669C;
    font-size: 40pt;
    text-align: center;
    padding-top: 2%;
}

.PembungkusMenu{
    display: flex;
    width: 1000px;
    height: fit-content;
    padding-top: 85px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 30px;
}

.PembungkusMenu .menu{
    background-color: #A4D0A4;
    width: 250px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 10px 10px;
}

.PembungkusMenu a{
    text-decoration: none;
}

.PembungkusMenu .menu img{
    width: 100px;
    fill: white;
    justify-content: center;
}

.PembungkusMenu .menu p{
    justify-content: center;
    padding-left: 20px;
    font-size: 20pt;
    color: white;
}
