main .judul{
    width: 100%;
    height: 85px;
    margin: auto;
    padding-top: 120px;
}
main .judul h1{
    color: #A4D0A4;
    font-size: 25pt;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

main .peta{
    width: 200vh;
    height: 70vh;
    padding-bottom: 30px;
}
