html, body{
    position:relative;
    min-height: 100vh;
}
main{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}
main h1{
    width: 100%;
    height: 20px;
    margin: auto;
    padding-top: 110px;
    color: #A4D0A4;
    font-size: 25pt;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
main .navbar{
    z-index: 0;
    width: 100%;
    height: 80px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 100px;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding-bottom: 100px;
}

th,
td {
    padding: 15px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    height: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.input {
    height: 20px;
}

.buttonDel {
    background-color: red;
    border: none;
    color: white;
    height: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.buttonup {
    background-color: green;
    border: none;
    color: white;
    height: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
footer {
    margin-top: 30px;
    width: 100%;
    height: 140px;
    background-color: #0C669C;
}

.containerFooter {
    width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 20px;
    color: white;
    font-family: 'Poppins'sans-serif;
    justify-content: flex-start;
    height: 100px;
}

footer{
    position: absolute;
    bottom: 0;
}
footer .rekes {
    margin-right: 20%;
}

.containerFooter a {
    text-decoration: none;
    color: white;
   
}

footer h2,
footer p {
    color: white;
    font-family: 'Poppins'sans-serif;
}

footer .rekes h2 {
    font-size: 24px;
}

footer .rekes p {
    font-size: 16px;
}

footer .tentang {
    font-size: 16px;
    margin-right: 5%;
    margin-top: 1%;
}

footer .contact {
    font-size: 16px;
    margin-left: 100px;
    margin-top: 1%;
}

footer .tentang li,
footer .contact li {
    line-height: 1.5;
}

footer .faq {
    font-size: 16px;
    margin-left: 200px;
    margin-top: 1%;
}

footer .faq img {
    padding-top: 5px;
    width: 25px;
}

footer .faq li {
    line-height: 2;
}
