
html, body{
    position:relative;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: white;
}

main{
    margin: auto;
    padding-bottom: 110px;
    width: 75%;
}

main .judul{
    width: 100%;
    height: 50px;
    margin: auto;
    /* padding-top: 5px; */
    margin-bottom: 20px;
}

main h1{
    width: 100%;
    height: 20px;
    margin: auto;
    padding-top: 110px;
    color: #366066;
    font-size: 25pt;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

footer {
    margin-top: 30px;
    width: 100%;
    height: 140px;
    background-color: #0C669C;
}

.containerFooter {
    width: 1000px;
    margin: auto;
    display: flex;
    padding-top: 20px;
    color: white;
    font-family: 'Poppins'sans-serif;
    justify-content: flex-start;
    height: 100px;
}

footer{
    position: absolute;
    bottom: 0;
}
footer .rekes {
    margin-right: 20%;
}

.containerFooter a {
    text-decoration: none;
    color: white;
   
}

footer h2,
footer p {
    color: white;
    font-family: 'Poppins'sans-serif;
}

footer .rekes h2 {
    font-size: 24px;
}

footer .rekes p {
    font-size: 16px;
}

footer .tentang {
    font-size: 16px;
    margin-right: 5%;
    margin-top: 1%;
}

footer .contact {
    font-size: 16px;
    margin-left: 100px;
    margin-top: 1%;
}

footer .tentang li,
footer .contact li {
    line-height: 1.5;
}

footer .faq {
    font-size: 16px;
    margin-left: 200px;
    margin-top: 1%;
}

footer .faq img {
    padding-top: 5px;
    width: 25px;
}

footer .faq li {
    line-height: 2;
}
