
main .isi{
    width: 100%;
    height: 550px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 30px; 
    justify-content: center;  
}

main .isi h1{
    color: #0C669C;
    font-size: 25pt;
    text-align: center;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    
}

main .isi img{
    width: 450px;
    fill: white;
    justify-content: center;
    padding-bottom: 30px;  
    padding-left: 40%;
}

