

main {
    width: 1000px;
    display: flex;
    width: 1000px;
    height: fit-content;
    padding-top: 140px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
}

main .judul{
    width: 100%;
    height: 50px;
    margin: auto;
    /* padding-top: 5px; */
    margin-bottom: 20px;
}

main .judul h1{
    color: #A4D0A4;
    font-size: 30pt;
    text-align: center;
    /* padding-top: 15%; */
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
    
}

main a{
    text-decoration: none;
    
}

main .bungkusMenu{
    margin-left: 5px;
    margin-bottom: 10px;
}

.bungkusMenu .menu img{
    width: 150px;
    padding: 20px 50px;
    border: 5px solid #A4D0A4;
    border-radius: 10%;
}
.bungkusMenu p{
    font-size: 25px;
    text-align: center;
    padding: 10px 50px;
    border: 5px solid#A4D0A4;
    border-radius: 10%;
    color: white;
    background-color: #A4D0A4;

}

/* .bubungkusMenu .menu{
    border-color: #A4D0A4;
    border-width: 100px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 10px 10px;
} */
/* 
.PembungkusMenu .menu img{
    width: 150px;
    
} */


