html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(white, #A4D0A4);
}
header {
	background-color: #A4D0A4;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: left;
	position: fixed;
}

header img {
	padding-right: 5px;
	padding-top: 5px;
	width: 50px;
	display: inline-block;
}

header .atas {
	display: flex;
	height: fit-content;
	align-items: center;
	position: relative;

}

header .atas ul {
	padding-left: 650px;
}

header .atas li {
	display: inline-block;
}

header .atas li :hover {
	background-color: white;
	color: #A4D0A4;


}

header .atas ul li a {
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
	padding: 20px 15px;
	transition: 0.75s;

}

header .atas h4 {
	font-size: 20px;
	position: absolute;
	top: 150px;
	left: 50%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(34, 66, 50, 0.459);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  font-size: 25px;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #A4D0A4;
  font-size: 12px;
}

.login-box form .a button{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #A4D0A4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: none;
}

.login-box .a button:hover{
  background: #A4D0A4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #A4D0A4,
              0 0 25px #A4D0A4,
              0 0 50px #A4D0A4,
              0 0 100px #A4D0A4;
}

.login-box .a button span{
  position: absolute;
  display: block;
}

.login-box .a button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #A4D0A4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box .a button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #A4D0A4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box .a button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #A4D0A4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box .a button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #A4D0A4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}